<html>
  <head>
    <title>Index :: Secure and Testable Infrastructure - Workshop (A&A Days 2019)</title>
  </head>
  <body>
    <h1>Secure and Testable Infrastructure - Workshop (A&A Days 2019)</h1>
    <h2>{{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_major_version'] }}</h2>

    <hr/>

    <footer>
      <small>{{ ansible_managed }}</small>
    </footer>
  </body>
</html>
